.cart-container {
    position: relative;
    width: 114px;
    height: 114px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: #FF5800;
    margin-top: auto;
    cursor: pointer;
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 40px;
    height: 40px;
    font-size: 2.2rem;
    color: #fff;
    border-radius: 50%;
    background-color: #FF0000;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cart-icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.cart-details-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ebebeb3e;
    cursor: pointer;
    z-index: 1;
}

.cart-details-overlay--hidden {
    background-color: transparent;
}

.cart-details-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #fff;
    border-radius: 70px 70px 0 0;
    overflow-y: auto;
    z-index: 2;
    animation: showCartDetails 0.5s forwards;
}

.cart-details-container--hidden {
    animation: hideCartDetails 0.5s forwards;
}

@keyframes showCartDetails {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hideCartDetails {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

p {
    font-size: 1.5rem;
}
.container {
    margin: 50px;
}
h1 {
    font-family: Montserrat, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
}
.panier_details {
    width: 80%;
    margin: 55px auto;
}


.panier_produit {
    align-items: center;
    justify-content: center;
    margin: 45px 0;
}

.panier_nomProduit > p:first-child {
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.panier_nomProduit {
    width: 295px;
}

.panier_produit div {
    margin: 0 10px;
    display: flex;
}

.panier_produitDetails {
    flex-direction: column;
    width: 355px;
}
.panier_produit, .panier_produitQuantity {
    display: flex;
}
.panier_produitQuantity {
    display: flex;
    font-weight: bold;
    align-items: center;
}
.panier_produitQuantity p {
    margin: 0 10px;
}
.panier_produitQuantity div {
    border: solid 0.9px;
    border-radius: 20px;
    font-size: 13px;
    width: 26px;
    height: 26px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}


.panier_totalPrice, #panier_produitslist {
    margin: 45px 0;
}

#panier_payment {
    margin: 45px 0 20px 0;
    display: flex;
    font-size: 16px;
}

.panier_totalPrice div {
    display: flex;
    margin: 8px 0;
    font-weight: bold;
    justify-content: space-around;
}

.panier_payment {
    display: flex;
    text-align: center;
}
.panier_meanPayment {
    width: 50%;
    display: flex;
    align-items: center;
}
.panier_payment input {
    margin-right: 10px;
}

.panier_produitExtras {
    margin: 10px 0 !important;
}

.panier_produitExtras div {
    flex-direction: column;
}

.panier_produitExtras > div:nth-of-type(1) {
    flex-direction: column;
    margin: 0;
}

.panier_produitExtras div button {
    background-color: white;
    margin-right: 10px;
    border: solid 0.9px;
    border-radius: 20px;
    font-size: 13px;
    width: 16px;
    height: 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.panier_produitSingleExtra {
    flex-direction: row!important;
    margin: 0!important;
}

.error_message {
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
}


.btn_order {
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    padding: 13px;
    width: 100%;
    color: white;
    cursor: pointer;
}
.panier_produit img, .panier_meanPayment img  {
    width: 25%;
    margin: 0 10px;
}
