.cart-container {
    position: relative;
    width: 114px;
    height: 114px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: #FF5800;
    margin-top: auto;
    cursor: pointer;
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 40px;
    height: 40px;
    font-size: 2.2rem;
    color: #fff;
    border-radius: 50%;
    background-color: #FF0000;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cart-icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.cart-details-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ebebeb3e;
    cursor: pointer;
    z-index: 1;
}

.cart-details-overlay--hidden {
    background-color: transparent;
}

.cart-details-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #fff;
    border-radius: 70px 70px 0 0;
    overflow-y: auto;
    z-index: 2;
    animation: showCartDetails 0.5s forwards;
}

.cart-details-container--hidden {
    animation: hideCartDetails 0.5s forwards;
}


.container {
    padding: 50px;
}

h1 {
    font-family: Montserrat, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 100px;
}

.cart-product-list {
    margin-bottom: 50px;
}

.cart-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
}

.cart-payment {
    display: flex;
    gap: 50px 100px;
    margin-bottom: 50px;
}

.cart-mean-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.cart-mean-payment img {
    width: 100px;
}

.cart-mean-payment input {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cart-mean-payment label {
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.error-message {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
    margin-bottom: 30px;
}

.cart-total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 3rem;
    font-weight: bold;
}

.btn-order {
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    padding: 20px;
    width: 100%;
    color: white;
    cursor: pointer;
}

@keyframes showCartDetails {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hideCartDetails {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}