.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.not-found-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FFA8A8, #FFD984);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 50px;
    animation: fly 1s alternate infinite;
}

.not-found-image img {
    width: 200px;
}

.not-found-text {
    font-size: 3.5rem;
    text-align: center;
}

.not-found-text a {
    font-size: 3.8rem;
    text-decoration: underline;
    display: inline-block;
    font-weight: bold;
}

@keyframes fly {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}