.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ebebeb3e;
    cursor: pointer;
    z-index: 1;
}

.modal-overlay--hidden {
    background-color: transparent;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    padding: 60px;
    background: #fff;
    border-radius: 70px 70px 0 0;
    overflow-y: auto;
    z-index: 2;
    animation: showModal 0.5s forwards;
}

.modal--hidden {
    animation: hideModal 0.5s forwards;
}

@keyframes showModal {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hideModal {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}
