.payment-container {
    padding: 50px;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #000;
    align-self: flex-start;
    cursor: pointer;
}

.arrow-icon i {
    font-size: 4rem;
}

h1 {
    font-family: Montserrat, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 100px;
}

.payment-info {
    margin-bottom: 30px;
}

.payment-info__text {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 40px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container:last-of-type {
    margin-bottom: 50px;
}

.card-info-container {
    margin-top: 80px;
}

label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.payment-form input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #222;
    border-radius: 5px;
    outline: none;
}

.btn-order {
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    padding: 20px;
    width: 100%;
    color: white;
    cursor: pointer;
}

.error-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    margin-top: 10px;
}